body {
  background-color: #c5e1d7;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #010f0a;
  font-family: 'Times New Roman', Times, serif;
}
p {
  color: black;
}
p_header {
  color: #F0F8FF
}
p_nav {
  color: #F0FFF0
}

p_footer {
  color: #F0FFF0
}

p_home {
  color: #2d473e;
  font-size:2vw;
}

h_home {
  color: #2d473e;
  font-family: cursive;
  font-size:4vw;
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
  box-sizing: border-box;
  text-align: center;
}

/* Style the header */
header {
  padding: 0px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Style the banner (nav) */
nav {
  background-color: #699182;
  padding: 10px;
  text-align: center;
  color: white;
}


/* Style the list inside the menu */


/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #699182;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
 */

