body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.header {
  grid-area: hd;
  color:aquamarine
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
}
